# Byte-compiled / optimized / DLL files
**/__pycache__/

# Distribution / packaging
dist/

# Unit test / coverage reports
.pytest_cache/
.coverage

# Environments
.env
.venv/
dev_database
test_database

# VS Code
.vscode/

# Data Bases
*.sqlite3

# Zone Identifier
*:Zone.Identifier
