{% extends "base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}
  {% translate "Task manager" %}
{% endblock %}

{% block content %}
      <div class="card">
        <div class="card-body p-5 bg-light">
          <div class="display-4">{% translate "Task Manager" %}</div>
          <p class="lead my-2">{% translate "Log in as a user, manage statuses, track your tasks and search for them by labels." %}</p>
          <hr>
          <a class="btn btn-primary btn-lg" href="{% url 'user-create' %}">{% translate "Start" %}</a>
        </div>
      </div>
{% endblock %}
