{% extends "base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}
  {% translate "Tasks" %}
{% endblock %}

{% block content %}
  <h1 class="my-4">{% translate "Tasks" %}</h1>
  <a class="nav-link" href="{% url 'task-create' %}">{% translate "Create new task" %}</a>

  <div class="card mb-3">
    <div class="card-body bg-light">
      <form method="get" class="px-2">
        <div class="row">
          {% for field in filter.form %}
            <div class="col-xs-3 mx-2">
              {{ field.label_tag }}
              {{ field }}
            </div>
          {% endfor%}
          <button type="submit" class="btn btn-primary ml-3">
            {% translate "Filter" %}
          </button>
      </div>
      </form>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate "Name" %}</th>
        <th>{% translate "Status" %}</th>
        <th>{% translate "Author" %}</th>
        <th>{% translate "Executor" %}</th>
        <th>{% translate "Created at" %}</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for object in filter.qs %}
        <tr>
          <td>{{ object.id }}</td>
          <td>{{ object.name }}</td>
          <td>{{ object.status }}</td>
          <td>{{ object.author.get_full_name }}</td>
          <td>
            {% if object.executor %}
              {{ object.executor.get_full_name }}
            {% endif %}
          </td>
          <td>{{ object.created_at }}</td>
          <td>
            <a href="{% url 'task-update' object.id %}">{% translate "Edit" %}</a>
            <br>
            <a href="{% url 'task-delete' object.id %}">{% translate "Delete" %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
